@media screen and (min-width: 992px) {

    #container {
        width: 991px;
    }

    #people {
        width: 300px;
    }

    #people .header {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    #people .header .tool {
        display: flex;
        width: 120px;
        height: 80px;
        align-items: center;
        justify-content: space-between;
        padding-right: 20px;
    }

    #people .new-message {
        width: 100%;
        height: 80px;
        display: flex;
        background-color: rgb(141, 217, 252);
    }

    #people .new-message .img {
        width: 80px;
        height: 80px;
        flex-shrink: 0;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    #people .new-message .img .around {
        width: 100%;
        height: 100%;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        background-color: white;
    }

    #people .new-message .img .around i {
        font-size: 1.5rem;
        color: rgb(141, 217, 252);
    }

    #people .new-message .info {
        width: 100%;
        height: 100%;
        flex-grow: 1;
    }

    #people .new-message .info span a {
        color: rgba(0, 0, 0, 0.541);
    }

    #people .search {
        display: flex;
        width: 100%;
        height: 60px;
        background-color: rgb(233, 233, 233);
        justify-content: center;
        align-items: center;
        padding: 0.5rem;
    }

    #people .search-box {
        width: 100%;
        height: 100%;
        background-color: white;
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 0 0.5rem;
    }

    #people .search-box i {
        margin: 0 0.5rem;
        color: rgba(0, 0, 0, 0.353);
    }

    #people .search-box input {
        border-radius: 0;
        padding-left: 0.5rem;
    }

    #people .main {
        height: calc(100vh - 80px - 4rem - 80px - 60px);
        overflow-y: scroll;
    }

    #people .main .user {
        width: 100%;
        display: flex;
    }

    #people .main .user .info {
        display: flex;
        width: 100%;
        flex-grow: 1;
    }

    #people .main .user .hour {
        display: flex;
        width: 60px;
        padding-top: 1rem;
        padding-left: 1rem;
    }

    #people .main .user .hour span {
        font-size: 0.7rem;
        color: rgba(0, 0, 0, 0.541);
    }

    #people .main .user .img,
    #people .main .user .hour {
        flex-shrink: 0;
    }

    #chat {
        width: 691px;
        height: 100%;
    }

    #chat .header .info {
        width: 471px;
    }

    #chat .main {
        padding-left: 5rem;
        padding-right: 5rem;
    }

    #chat .footer .write {
        width: 531px;
    }
}